body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}
body {
background: linear-gradient(45deg, #FF5733, #FFD700, #4CAF50, #C95B3A);
background-size: 400% 400%;
animation: gradientBackground 10s ease infinite;
}

@keyframes gradientBackground {
0% { background-position: 0% 50%; }
50% { background-position: 100% 50%; }
100% { background-position: 0% 50%; }
}
h1 {
    margin: 0;
    padding: 20px;
    background-color: #333;
    color: white;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}
.pizza {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pizza-wrapper {
    height: 320px; /* Espaço fixo para a pizza não afetar a tabela */
    display: flex;
    align-items: center;
    justify-content: center;
}
.pizza-display {
    border-radius: 50%;
    transition: width 0.3s, height 0.3s;
    background-image: url('Pizza2.jpg'); /* Substitua pelo caminho correto da imagem */
    background-size: contain;
background-repeat: no-repeat;
background-position: center;
}
.input-table {
    width: 80%;
    border-collapse: collapse;
}
.input-table td {
    padding: 8px;
}
input {
    width: 80px;
}
.resultado {
padding-top: 100px; /* Ajuste esse valor conforme necessário */
}
